$primary: #393E46;

@import 'ui';

video-library-item {
  border-radius: $border-radius;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;

  video-library-item-image {
    background-color: dampen($background, 10%);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 135%;
    display: block;
    border-radius: $border-radius $border-radius 0 0;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
    z-index: 1;
  }

  &.folder {
    video-library-item-image {
      margin: 0 24px;
    }

    ui-container {
      border-radius: $border-radius;
      &:before {
        content: "";
        position: absolute;
        top: -100px;
        left: 10px;
        right: 10px;
        height: 100px;
        background: linear-gradient(rgba(#000,0), rgba(#000,0.2));
        pointer-events: none;
      }
    }

    &:before {
      background: dampen($background, 25%);

      border-radius: $border-radius $border-radius 0 0;
      box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
      content: "";
      position: absolute;
      top: 40px;
      left: 10px;
      right: 10px;
      bottom: 30px;
    }

    &:after {
      background: dampen($background, 15%);

      border-radius: $border-radius $border-radius 0 0;
      box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
      content: "";
      position: absolute;
      top: 25px;
      left: 17px;
      right: 17px;
      bottom: 30px;
    }
  }

  &.video video-library-item-image:hover {
    filter: saturate(0);
    cursor: pointer;

    &:before {
      content: "\f215";
      font-family: Ionicons;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 60px;
      border-radius: inherit;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(#000, 0.6);
    }
  }

  ui-container {
    @include colors($input);

    background: linear-gradient(#FFF, $input);
    border-radius: 0 0 $border-radius $border-radius;
    border-top: 1px solid rgba(#000, 0.05);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
    position: relative;
    z-index: 2;
  }

  div {
    font-weight: 600;
    font-size: 18px;
    padding: 15px;
    flex: 1;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      cursor: pointer;
      color: $focus;
    }
  }

  ui-dropdown-menu {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 54px;
    width: 54px;

    > ui-icon {
      font-size: 32px;
    }
  }

  @each $breakpoint, $num in (
        2000px 6,
        1600px 5,
        1200px 4,
        800px 2) {
    @media (min-width: #{$breakpoint - 400px} )
       and (max-width: #{$breakpoint - 1px}) {
      width: calc((100% / #{$num}) - #{($num - 1) * 25px / $num});

      &:nth-child(#{$num}n) {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 400px) {
    margin-right: 0;
    width: 96%;
  }
}

video-library {
  height: 100vh;
  width: 100vw;

  flex-direction: column;
  display: flex;

  > ui-container {
    flex: 1;
  }

  ui-breadcrumbs, ui-header {
    padding-left: 30px;
    padding-right: 30px;
  }

  ui-header-title:first-child {
    padding-left: 0;
  }
}

video-library-video {
  justify-content: center;
  flex-direction:  column;
  position: fixed;
  background: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex: 1;
  padding: 30px;
  z-index: 200;

  ui-container {
    color: #DDD;
    padding-bottom: 30px;
    font-size: 26px;
    border-bottom: 1px solid rgba(#FFF, 0.15);
    margin-bottom: 30px;

    strong {
      flex: 1;
    }
  }

  video {
    flex: 1;
    max-width: 100%;
    max-height: 100%;
  }
}

video-library-folder-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  > ui-icon {
    font-size: 216px;
  }

  > div:first-child {
    font-size: 36px;
  }

  > div:last-child {
    font-size: 20px;
  }
}

ui-fab {
  cursor: pointer;
}

body {
  overflow: hidden;
}

ui-breadcrumbs {
  flex: 0 0 auto;
}

* {
  min-height: 0;
}

video-library-folder-wrapper {
  flex-direction: column;
  position: relative;
  display: block;
  display: flex;
  flex: 1;

  ui-scrolled-panel {
    padding: 15px;
    margin: 10px;
    margin-right: 0;
  }
}

video-library-folder {
  position: relative;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex: 1;
  overflow: auto;
  flex-wrap: wrap;

  ui-loader {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
  }
}
